 {%extends 'base.html'%}
       {% load static %}
      

       {%block content %}
       <style>
        a {
            text-decoration: none;
            }
    </style>
      
       <section id="main" class="mainfont mx-auto my-5 py-4 px-3">
            	<div id=" titlefont">
                    <a href="{% url 'index'%}"><img  src="{% static 'image/n_27.png' %}" width="180px" alt = "peanut"></a>
		  <!-- srcset="n_27.png 1x, n_27@2x.png 2x"-->
			
<br><br>
      <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto" style="color:yellow; background-color:#f6a329; padding:20px;"></div>
                <!--<img id="mainImg" src="./img/lv5.png" alt="mainImage" class="img-fluid" width="45%" , height="40%">-->
                <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
                </div>
            </div>
            <p id="subfont">
                <span>분석할 이미지를<br/>선택해주세요.</span>
            </p> <img src="{%static 'image/n_41_edit.png'%}" alt="img"  id="mainImg1"class="img-fluid">
            <form method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{ form }}
                <br> <br><button type="submit" class="startBtn mx-auto" > 다음으로</button>
            </form>
            <br>
           
            <!---->
        </section>
        {%endblock%}
     
     