 {%extends 'base.html'%}
    {% load static %}
      

    {%block content %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
        </style>
    <style>
        
        #mainImg1{
            margin-bottom: 4%;
            margin-top: 3%;
        }
        .imginfo{
            font-family: 'Noto Sans KR', sans-serif;
            
        }
    </style>
  	<br><br>
    <p id="subfont">
        <span>분석할 <span style="color:#f6a329">이미지</span>를<br/>선택해주세요.</span>
    </p>
    <img  src="{% static 'image/clcl.png' %}" alt="img"  id="mainImg1">
    <br>
    <span class = "imginfo" style="font-size:large;font-weight: bolder; ">*사진은 2일 이내 <span style="color:#FF4040">자동삭제</span>됩니다.</span><br/>
    <span class = "imginfo" style="font-size:small ; font-weight: 300;letter-spacing:-1px; color : #585858">데이터 삭제 전 개발진은 데이터에 접근할 수 없습니다.</span>
    <br/><br>
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <span class="uploadImage">{{ form.image }}</span>
        <br> <br>
        <button type="submit" class="startBtn mx-auto" style="font-family: 'CWDangamAsac-Bold'" > 
            다음으로
        </button>
    </form>
    <br>
           
    {%endblock%}
     
     