{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- sns share -->
    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <!-- favicon -->
    <link rel="shortcut icon" href="img/korea1.ico">
    <link rel="apple-touch-icon-precomposed" href="img/korea1.ico">

    <title>PEANUT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static './css/default.css' %}">
    <link rel="stylesheet" href="{%static './css/main.css' %}">
    <link rel="stylesheet" href="{%static './css/animation.css' %}">
    <link rel="stylesheet" href="{%static './css/result.css' %}">
    <script src="https://developers.kakao.com/sdk/js/kakao.js">
    </script>
    <script>
        Kakao.init('97154db629d66a733ad4c48e0abb6efd');
        Kakao.isInitialized();
    </script>
    <style>
        a {
            text-decoration: none;
            }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- 배포 후 추가 필요-->

</head>

<body>
    {% if err == 1 %}
    <script type="text/javascript">
        alert("잘못된 접근입니다.\n 메인으로 돌아갑니다");
        </script>
    
    {% elif err == 2 %}
    <script type="text/javascript">
        alert("세션 정보가 없습니다.");
        </script>
     
     {% elif err == 3 %}
     <script type="text/javascript">
         alert("테이블 확인.");
         </script>
    {%endif%}

    <div class="container">
        <section id="main" class="mainfont mx-auto my-5 py-4 px-3">
            <div id=" titlefont">
                <a href="{% url 'index'%}"><img  src="{% static 'image/peanutLogo.png' %}" width="230px" alt = "peanut"></a><br>
            </div>

            <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
               
                <img id="mainImg1" src="{%static 'image/index_image.png'%}" alt="mainImage" class="img-fluid">
            </div>

            <p id="subfont">
               <span>Peanut은 퍼스널컬러를 쉽게<br/>진단할 수 있는 서비스입니다.</span>
            </p>
            <a href="{% url 'imageUpload'%}"><button type="button" class="startBtn mx-auto" >시작하기</button></a> 
        </section>
    </div>

    <script src="./js/share.js" charset="UTF-8"></script>	</div>
</body>

</html>