{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- sns share -->
    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <!-- favicon -->
    <link rel="shortcut icon" href="img/korea1.ico">
    <link rel="apple-touch-icon-precomposed" href="img/korea1.ico">

    <title>PEANUT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static './css/default.css' %}">
    <link rel="stylesheet" href="{%static './css/main.css' %}">
    <link rel="stylesheet" href="{%static './css/animation.css' %}">
    <link rel="stylesheet" href="{%static './css/result.css' %}">
    <script src="https://developers.kakao.com/sdk/js/kakao.js">

    </script>
    <script>
        Kakao.init('4b78306c2806c638eb2beb5301da89ef');
        Kakao.isInitialized();
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7DMXD1KV1W">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        // gtag('config', 'G-7DMXD1KV1W');
    </script>

</head>

<body>
    <div class="container">
        <section id="main" class="mainfont mx-auto my-5 py-4 px-3">
            	<div id=" titlefont">
		  <img src="{%static 'image/n_27.png'%}" alt="img">
		  <!-- srcset="n_27.png 1x, n_27@2x.png 2x"-->
			
<br><br>
      <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto" style="color:yellow; background-color:#f6a329; padding:20px;"></div>
                <!--<img id="mainImg" src="./img/lv5.png" alt="mainImage" class="img-fluid" width="45%" , height="40%">-->
            </div>
            <p id="subfont">
               <span>Peanut은 퍼스널컬러를 쉽게<br/>진단할 수 있는 서비스입니다.</span>
            </p>
            <button type="button" class="startBtn mx-auto" onclick="js:begin()"> <a href="{% url 'imageUpload'%}">시작하기</a></button>
        </section>
    </div>
    <script src="./js/data.js" charset="UTF-8"></script>
    <script src="./js/start.js" charset="UTF-8"></script>
    <script src="./js/share.js" charset="UTF-8"></script>	</div>
</body>

</html>