{%extends 'base.html'%}
{% load static %}


{%block content %}
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
    </style>
    <style>
        #mainImg1{
            margin-top: 17%;
            margin-bottom: 4%;
        }
        .info{
            text-decoration: none;
            text-decoration: underline;
            color: #4A4A4A;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 900;
            letter-spacing:1px;
        }
        
    </style>

    {% if err is not empty %}  
        <script >
            document.write("{% if err == 1 %}");
                titleContent = '잘못된 접근입니다.'
            document.write("{% elif err == 5 %}");
                titleContent = '사진오류. 올바른 사진을 올려주세요.'
            document.write("{% else %}");
                titleContent = '알지 못 하는 오류 발생'
            document.write("{% endif %}");
            function newalert(){ 
                Swal.fire({
                        title: titleContent,
                        text: "메인으로 돌아갑니다",
                        icon: 'warning',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: '확인',
                    }) 
                }
        newalert();
        </script>
    {%endif%}

    <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
        <img id="mainImg1" src="{%static 'image/mainpeanut.png'%}" alt="mainImage" class="img-fluid">
    </div>
    <p id="subfont">
       <span>
           <span style="color:#f6a329; font-family: 'CWDangamAsac-Bold'">
            Peanut
            </span>
           은 퍼스널컬러를 쉽게<br/>
           진단할 수 있는 서비스입니다.
        </span>
    </p>
    <a href="{% url 'imageUpload'%}">
        <button type="button" class="startBtn mx-auto" style="font-family: 'CWDangamAsac-Bold'" >시작하기</button>
    </a> 
     <a href="{% url 'information' %}"><p class="info">개발진 정보 </p></a>
{%endblock%}
