{%extends 'base.html'%}
{% load static %}


{%block content %}

    <div class="col-lg-4 col-md-5 col-sm-6 col-8 mx-auto">
      <img id="resultImg" src="{%static 'image/loading.gif'%}" class="img-fluid">
    </div>
    <p id="subfont">
       	<span>나의 <span style="color:#f6a329">퍼스널 컬러</span>를<br/>분석 중이에요!<br></span> 
    </p>
    <br><br>
    <a href="{% url 'result' result_val%}">
        <button type="submit" class="startBtn mx-auto" style="font-family: 'CWDangamAsac-Bold'" > 
             결과보기
        </button>
    </a>
     
{%endblock%}