{%extends 'base.html'%}
{% load static %}


{%block content %}
<style>
    a {
        text-decoration: none;
        color : white;
        }
</style>
    <div class="container">
        <section id="main" class="mainfont mx-auto my-5 py-4 px-3">
            	<div id=" titlefont">
                    <a href="{% url 'index'%}"><img  src="{% static 'image/peanutLogo.png' %}" width="180px" alt = "peanut"></a>
    </div>
            <div class="col-lg-4 col-md-5 col-sm-6 col-8 mx-auto">
              <img id="resultImg" src="{%static 'image/loading.gif'%}" class="img-fluid">
            </div>
            <p id="subfont">
               	<span>나의 <span style="color:#f6a329">퍼스널 컬러</span>를<br/>분석 중이에요!<br></span> 
            </p>
            <a href="{% url 'result' result_val%}"> <button type="button" class="startBtn mx-auto"> 결과보기</button></a>
        </section>
    </div>

{%endblock%}